.background {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
                url('/imgs/background.jpg') center/cover no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* Add a container for the content */
.content {
    max-width: 800px;
    text-align: center;
    padding: 20px;
}
.clip-curve {
    border-top: 4px solid #f1c40f;
    clip-path: ellipse(100% 80% at 50% 100%);
  }
  .gradient{
      background: linear-gradient(90deg, #261733, #1b193c);
  }
 .gradient:hover{
    background: linear-gradient(90deg, #3f2752, #1d1c3e);
 }
.card{
    background: linear-gradient(160deg,  #192043 0%, #210d17 100%);
}
.card-icon{
    color : linear-gradient(160deg,  #192043 0%, #210d17 100%);
}